@page "/counter"
@inject ICameraService CameraService
<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="Video">Video</button>
@code {
    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        CameraService.OpenCamera(640, 480);
        currentCount++;
       
    }

    private void IncrementCount()
    {
       
        
    }
    private void Video()
    {

        CameraService.OnClick();
        currentCount++;
    }
}
