@page "/media-player"

@inject ICameraService service
@inject IMyService serv;
<video class="video" controls @onended=VideoEnded @onplay=Start @oncanplay=OpenCamera>
    <source src="https://archive.org/download/kratos_202301/kratos.mp4" type="video/mp4">
</video>

<p class="emotion">@service.Emotion</p>

@code {
    bool opened = false;
    protected override void OnInitialized()
    {
        base.OnInitialized();

        serv.RefreshRequested += StateHasChanged;
    }
    void VideoEnded()
    {

        service.OnClick();
        service.Emotion = "Видео обрабатывается...";
    }
    void Start()
    {
        service.OnClick();
    }
    void OpenCamera()
    {
        if (!opened)
        {
            service.OpenCamera(640, 480);
            opened = true;
        }
        
    }
}

<style>
    .video{
        width: 100%;
        border-radius:20px;
    }
    .emotion {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 250px;
        height: 50px;
        background: #00FFF0;
        box-shadow: 0px 0px 70px #00FFF0;
        border-radius: 20px;
        font-family: 'Play';
        font-style: normal;
        font-weight: 700;
        font-size: 3vw;
        line-height: 28px;
        text-align: center;
        color: black;
    }

</style>